# macOS junk
.DS_Store

# Ignore all raw months by default; keep two samples
data_raw/*
!data_raw/202401-divvy-tripdata.csv
!data_raw/202402-divvy-tripdata.csv

# Ignore the full cleaned dataset; keep the sample
data_clean/cyclistic_cleaned_data.csv
csv/
xlsx/
analysis_output_20250225/

